.nombre {
  color: rgb(92, 19, 160);
  font-family: "Righteous", cursive;
  font-size: 45px;
  text-align: center;
}
.profesión {
  font-family: "Signika", sans-serif;
  text-align: center;
  font-size: 20px;
  color: rgb(142, 46, 197);
}
.subtitulos {
  font-family: "Space Mono", monospace;
  font-size: 18px;
  color: rgb(175, 81, 230);
}
.normal {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: justify;
}
.container {
  display: flex;
  flex-direction: column;
}
.info-contact {
  margin: 2% auto;
  width: 1200px;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(202, 153, 231);
}
img {
  width: 380px;
  height: 320px;
}
.info-general {
  margin: 2% auto;
  width: 1200px;
  height: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(202, 153, 231);
  place-items: center;
}
.PERFILPROFESIONAL .FORMACIÓN .CURSOS {
  width: 900px;
  height: 300px;
}
.COMPETENCIAS .AREAS .HABILIDADES {
  width: 300px;
  height: 900px;
}
