.nombre {
  color: rgb(92, 19, 160);
  font-family: "Righteous", cursive;
  font-size: 95px;
  text-align: center;
  margin: 1px auto;
}
.profesión {
  font-family: "Signika", sans-serif;
  text-align: center;
  font-size: 45px;
  color: rgb(142, 46, 197);
  margin: auto;
}
.subtitulos {
  font-family: "Space Mono", monospace;
  font-size: 22px;
  color: rgb(85, 18, 124);
  border: 2px solid rgb(219, 194, 241);
  background-color: rgb(219, 194, 241);
}
.normal {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: justify;
  font-size: 22px;
  line-height: 50px;
}
.normal2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  text-align: justify;
  font-size: 22px;
  line-height: 45px;
}
.normal3 {
  font-size: 18px;
  text-align: justify;
  font-family: "M PLUS Rounded 1c", sans-serif;
  line-height: 45px;
}
.container {
  display: flex;
  flex-direction: column;
}
.info-contact {
  margin: 1% auto;
  width: 70%;
  height: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 2px solid rgb(202, 153, 231);
  border-width: 8px;
  overflow-wrap: break-word;
}
.información,
.contacto,
.Foto {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1px;
}
img {
  width: 340px;
  height: 320px;
  border-radius: 50%;
}
.contacto {
  align-items: center;
}
.info-general {
  margin: 1px auto;
  width: 72%;
  height: 1800px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.PERFILPROFESIONAL,
.FORMACIÓN,
.CURSOS {
  border: 2px solid rgb(239, 225, 252);
  background-color: rgb(239, 225, 252);
  padding: 25px 25px;
  width: 55%;
}
.COMPETENCIAS,
.AREAS,
.HABILIDADES {
  border: 2px solid rgbrgb(239, 225, 252);
  background-color: rgb(239, 225, 252);
  padding: 25px 25px;
  width: 35%;
}
.PERFILPROFESIONAL,
.COMPETENCIAS {
  height: 420px;
}
.FORMACIÓN,
.AREAS {
  height: 470px;
}
.CURSOS,
.HABILIDADES {
  height: 680px;
}
